@media screen and (min-width: 500px) {
    main {
        max-width: 100em;
    }
    
    header, footer {
        max-width: 90em;
    }
    
    header {
        display: flex;
    }

    div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        background-color: #b9f7fe;
        padding: 10px;
        justify-content: flex-end;
        align-items: center;
    }

    .navigation li {
        display: block;
    }
}